@import 'utilities';
@import 'patterns/accessibility';
@import 'patterns/animation';
//@import 'patterns/css3';
@import 'patterns/forms';
@import 'patterns/images';
@import 'patterns/layout';
@import 'patterns/legacy';
@import 'patterns/mobile';
@import 'patterns/print';
@import 'patterns/text';