/*
  Cross-browser inline-block.
*/
.stitch-inline-block {
	& {
		*display : inline;
	}
	display         : -moz-inline-box;
	-moz-box-orient : vertical;
	display         : inline-block;
	vertical-align  : middle;
	& {
		*vertical-align : auto; 
	}
}

@mixin inline-block {
	@extend .stitch-inline-block;
}