//
//  Adds URLs and abbreviations to the end of links in printed documents
//
@mixin append-content {
	a:after {
		content:" (" attr(href) ")";
	}
	abbr:after {
		content: " (" attr(title) ")";
	}
}

