/* Allows a parent element to enclose the full height of the children
 * elements when all of the children are floated.
 * Normally the parent will have no height. 
 * @see http://nicolasgallagher.com/micro-clearfix-hack/
 */

/*
  We're using classes and extending them so that we're not writing each of these
  rules in every selector we use.
*/
.stitch-clearfix-legacy {
	zoom:1;
}

.stitch-clearfix {
	&::before,
	&::after {
	    content:"";
	    display:table;
	}
	&::after {
	    clear:both;
	}
}

@mixin clear-floats($legacy:false) {
	// Modern browser support
	@extend .stitch-clearfix;
	// IE6/7 support
	@if $legacy == true {
		@extend .stitch-clearfix-legacy;
	}
}