@mixin float-children($children:false,$direction:left,$width:false) {
  @include clear-floats;

  @if $children == false {
		$children: '*';
	}

	& > #{$children} {
 		float:$direction;

		@if $width != false { 
			width: $width; 
		}
	}
}