@include 'compass/css3/images';

@mixin vertical-gradient($from,$to) {
	@include background(
		$to no-repeat linear-gradient(top,$from,$to)
	);
}

@mixin horizontal-gradient($from,$to) {
	@include background(
		$to no-repeat linear-gradient(left,$from,$to)
	);
}