/*
  Sets up some sensible text defaults for printed pages
*/

@mixin printable-text {
	background:transparent !important; 
	color:#444 !important; 
	text-shadow:none !important;
	
	pre, 
	blockquote { 
		page-break-inside: avoid;
	}

	img {
		page-break-inside:avoid;
	}

	p, 
	h2, 
	h3 {
		orphans:3;
		widows:3;
	}

	h2, 
	h3 {
		page-break-after:avoid;
	}
	
	a, 
	a:visited {
		color: #444 !important; 
		text-decoration: underline; 
	}
}