//
//  These provide basic font stacks with fallbacks. You can add your own fonts to the stack
//
@mixin sans-serif($prepend:false) {
	$list: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-family: join($prepend,$list,comma);
}

@mixin serif($prepend:false) {
	$list: "Georgia", Times New Roman, Times, sans-serif;
	font-family: join($prepend,$list,comma);
}

@mixin monospace($prepend:false) {
	$list: "Monaco", Courier New, monospace;
	font-family: join($prepend,$list,comma);
}