/* Variables
---------------------------------------- */
/* Functions
---------------------------------------- */
/* Mixins
---------------------------------------- */
/* Example
---------------------------------------- */
html { font-size: 20px; }

#id { /* Relative to a given context - 18px */ font-size: 0.889em; /* Relative to the root font size (rem) */ font-size: 10px; font-size: 0.5rem; }

#id2 { /* Set a base font size */ font-size: 16px; }
#id2 p { /* (12px) Relative to the font size for this module */ font-size: 0.75em; }
#id2 p { /* (10px) Or make it relative to the root using rems */ font-size: 10px; font-size: 0.5rem; }

#id { width: 25em; }
