.copy {

	p {
		margin:0 0 18px 0;	
	}

	address {
	
	}

	ul {
	
	}

	ol {
	
	}

	li {
	
	}

	dl {
	
	}

	dt {
	
	}

	dd {
	
	}

	pre {
	
	}

	h1,h2,h3,h4,h5,h6
	{
	
	}

	h1
	{
	
	}

	h2
	{
	
	}

	h3
	{
	
	}

	h4
	{
	
	}

	h5
	{
	
	}

	h6
	{
	
	}

	em
	{
	
	}

	strong
	{
	
	}

	mark
	{
	
	}

	ins
	{
	
	}

	del
	{
	
	}

	abbr
	{
	
	}

	a {
	
	}

	a:visited {
	
	}

	a:hover {
	
	}
}