body {
	background: $color-red;
}

nav {
	@include box-shadow(5px 0px 10px rgba(0,0,0,0.1));
	float:left;
	position:fixed;
	overflow:auto;
	top:0;
	bottom:0;
	left:0;
	width:$sidebar-width;
	background:#fff;
	padding-top:30px;
	padding-bottom:60px;
	padding-left:30px;
	padding-right:30px;
	
	h1 {
		font-size:16px;
		color:#999;
	}
	
	& > a {
		font-weight:bold;
		color:$color-red;
		text-decoration:underline;
		display:block;
	}
}

#body {
	@include box-shadow(5px 0px 10px rgba(0,0,0,0.9));
	background:$color-grey;
	width:600px;
	padding-left: $sidebar-width + 80px + 60px;
	padding-right:100px;
	padding-bottom:100px;
	padding-top:40px;
}

#site-title {
	margin-bottom: $baseline * 2;
	h1 {
		font-size:100px;
		font-weight:bold;
		line-height:1;
		margin-bottom:$baseline/2;
		color:darken(#501816,10%);
	}

	h2 {
		font-size:24px;
		color: lighten(#000,60%);
	}
}

#toc {
	
	margin-top:$baseline;
	
	a {
		display:block;
	}
	
	& > li > a {
		font-size:16px;
		font-weight: bold;
		line-height:30px;
		color:$color-red;
	}
	
	& > li > ul > li > ul a:before {
		content: '- ';
	}
	
	& > li > ul > li > a {
		font-size:16px;
		font-weight:bold;
		padding-top:10px;
		line-height:30px;
		color:$color-red;
	}
	
	& > li > ul > li > ul a {
		font-size:12px;
		color:#999;
		line-height:1.4;
	}
}