$sidebar-width: 200px;

body {
	background:#501816;
	padding-left:$sidebar-width;
	padding-right:40px;
}

nav {
	float:left;
	position:fixed;
	overflow:auto;
	top:0;
	bottom:0;
	left:0;
	width:$sidebar-width;
	background:#fff;
}

body > header,
body > section.copy {
	width:500px;
	padding-left:80px;
	padding-right:100px;
	background:darken(#fff,5%);
}

body > section.copy {
	padding-bottom:100px;
}

#site-title {
	
	padding-top:40px;
	padding-bottom:$baseline * 2;
	
	h1 {
		font-size:100px;
		font-weight:bold;
		line-height:1;
		margin-bottom:$baseline/2;
		color:darken(#501816,10%);
	}

	h2 {
		font-size:24px;
		color: lighten(#000,60%);
	}
}